@import url("../global.css");

.image_container {
  position: fixed;
  z-index: 15;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_content {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.close_btn {
  color: white;
  cursor: pointer;
}

.close_btn:hover {
  color: var(--orange);
}

.image_div {
  position: relative;
  margin-bottom: 2rem;
}

.image_content img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.left_arrow_preview,
.right_arrow_preview {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  /* z-index: 5; */
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  border-radius: 50%;
}

.left_arrow_preview {
  left: 0%;
  transform: translate(-50%, -50%);
}

.left_arrow_preview:hover {
  color: var(--orange);
}

.right_arrow_preview {
  right: 0%;
  transform: translate(50%, -50%);
}

.right_arrow_preview:hover {
  color: var(--orange);
}

.thumbnail_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0rem 2rem;
}

.thumbnail_container img {
  width: 100%;
}
